.BtnAjoutRessource{
  position: fixed;
  right: 30px;
  bottom: 30px;
  margin: 0 0 30px 30px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  &:focus{
    outline:none;
  }

  .MuiButtonBase-root{
    background-color: #333333;
  }
  .MuiButtonBase-root:hover{
    background-color: #333333;
  }
}