.Dossier{
  color: white;
  margin: 0 0 20px 20px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);

  h2{
    margin: 0;
  }
  

  .info{
    display: block;
    padding: 15px;

    h2{
      font-weight: normal;
    }
  }
  .couverture{

    .deplacer{
      position: absolute;
      margin: 7px 0 0 7px;
      background-color: black;
      border-radius: 100%;
      opacity: 0.3;
      padding: 4px;
      padding-bottom: 0;
      cursor: move;

      .MuiSvgIcon-root{
        width: 1.5em;
        height: 1.5em;
      }
    }

    img{
      display: block;
    }
  }
  

  button{
    align-self: flex-end;
    margin: -35px 5px 0 0;
    background-color: transparent;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
    &:focus{
      outline:none;
    }
  }
}