.Entete{
  position: sticky;
  top: 0;
  z-index: 10;
  height: 5vh;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.8em;
  padding: 2vh;

  .avatar{
    display: flex;
    align-items: center;
    

    img{
      border-radius: 100%;
      // object-fit: scale-down;
      height: 20px;
      width: 20px;
      margin-left: 2vw;
    }
  }
}